/* Global */

input {
    padding: 20px 10px;
}

.btn {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-style: none;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 10px;

}

.btn:hover {
    background-color: #1da1f2;
}

/* Navigation Bar */

.nav {
    list-style: none;
    display: flex;
}

.nav li {
    padding: 0px 20px;
    color: #999;
    letter-spacing: 2.8px;
    border-left: 1px solid #999;
    /* cursor: pointer; */
}

/* Banner */

.Banner {
    /* background-image: url("./Images/Polar.jpg"); */
    height: 100vh;
    background-size: cover;
    background-position-x: center;
}

/*Footer */

.FbSocial {
    margin-left: 10px   
}

.FbSocial:hover {
   color: #1da1f2;
}

.Fb:hover {
    color: #385898;    
}

.Instagram:hover {
    color: #DD2A7B
}